html {
background-color: lavenderblush;
text-align: center;
}
@font-face {
  font-family: "Hepta Slab";
  src: url("https://fonts.googleapis.com/css2?family=Hepta+Slab&display=swap");
}
body {
margin: 0 20%;
font-family: "Hepta Slab";
color: maroon;
}
header {
background-color: lightpink;
}
footer {
background-color: pink;
}
a {
color: darkred;
}
a:hover {
transform: scale(1.01);
}
a:active {
color: purple;
}
h1, h2, h3, a:visited {
color: mediumvioletred;
}
img {
border-radius: 8px;
}
img:hover {
transform: scale(1.01);
}
